<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/finsweet.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finsweet</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
        <!-- <div v-if="index === 1" class="text_one absolute duration-300 z-25 w-[313px] bottom-[76px] left-full group-hover:left-0">
          <h4 class="text-white leading-[36px] text-2xl font-semibold">
            Workhub office Webflow Webflow Design
          </h4>
          <p class="mt-4 text-white leading-[28px] mb-12">
            Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam
          </p>
          <a
            class="hover-underline-animation orange text-[16px] font-medium text-[#FCD980]"
            href="#"
            >View Pricing &#8594;
          </a>
        </div>
        <div v-if="index === 3" class="text_two absolute duration-300 z-25 w-[313px] pr-[2%] top-[22%] right-full group-hover:right-0">
          <h4 class="text-white leading-[36px] text-2xl font-semibold mb-[10px]">
            Unisaas Website Design
          </h4>
          <a
            class="hover-underline-animation orange text-[16px] font-medium text-[#FCD980]"
            href="#"
            >View Pricing &#8594;</a
          >
        </div> -->